<% include('../layouts/header.ejs') %>

<h1>Register</h1>

<form action="/user/register" method="post">
   <input type="text" name="name" id="" placeholder="Enter your name" required><br><br>
   <input type="email" name="email" placeholder="Enter your email" required><br><br>
   <input type="password" name="password" placeholder="Enter password" required><br><br>
   <input type="submit" name="submit" value="Register"><br><br>
</form>

<% if (typeof message !== 'undefined') { %>
    <p style="color: green;"><%= message %></p>
<% } else { %>
    <p></p>
<% } %>

<% include('../layouts/footer.ejs') %>