<% include('../layouts/header.ejs') %>

<% if (typeof message !== 'undefined') { %>
    <h1 style="color: green;"><%= message %></h1>
<% } else { %>
    <p></p>
<% } %>

<h1>Forget</h1>
<form action="/user/forget" method="post">
    <input type="text" name="email" placeholder="Enter your email" required><br><br>
    <input type="submit" name="submit" value="Send Reset Link" id=""><br><br>
</form>

<% include('../layouts/footer.ejs') %>